/* Reset general */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo para la barra superior */
.banner-principal {
    background-color: black;
    color: white;
    text-align: center;
    font-size: 14px;
    padding: 10px 0;
}

/* Estilo del menú principal */
.nav-principal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
}

/* Menú de la izquierda */
.menu-izquierda a {
    text-decoration: none;
    color: black;
    font-size: 14px;
    margin: 0 15px;
    font-weight: bold;
}

/* Logo */
.logo img {
    display: block;
}

/* Menú de la derecha */
.menu-derecha {
    display: flex;
    align-items: center;
    gap: 15px;
}

.menu-derecha a {
    text-decoration: none;
    color: black;
    font-size: 14px;
}

/* Iconos en el menú derecho */
.menu-derecha img {
    height: 20px;
    width: 20px;
}

/* Botón de cita */
.boton-cita {
    background-color: black;
    color: white;
    font-size: 14px;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.boton-cita:hover {
    background-color: #444;
}

main {
    padding: 20px;
}
/* Estilo para la sección de ofertas */

.ofertas {
    margin-bottom: 20px;
}

.ofertas h2 {
    font-size: 24px;
    margin-bottom: 10px;
    margin-left: 9px;
    font-weight: 800;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif !important;

}

.ofertas-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.ofertas-container div {
    padding: 10px;
    text-align: center;
}

.ofertas-container img {
    max-width: 100%;
    height: auto;
}

.ofertas-container div a {
    text-decoration: none;
    color: black;
    font-size: 14px;
}

.ofertas-container div a:hover {
    text-decoration: underline;
}

/*Top Ventas*/

.top-ventas {
    margin-bottom: 20px;
}

.top-ventas h2 {
    font-size: 24px;
    margin-bottom: 10px;
    margin-left: 9px;
    font-weight: 800;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif !important;
}

.ventas-container {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.ventas-container div {
    padding: 10px;
    text-align: center;
}

.ventas-container img {
    max-width: 100%;
    height: auto;
}


/*footer*/

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}




